@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variable.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/usercomponent.css";
@import "components/bedges.css";
@import "components/icon-row.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
/* styles */
/*
 font-family 등 과 같이 모든 스크린에
  적용될 수 있는 스타일을 써놓는게 편함
 */
body {
  color: #2d363e;
  font-family: "Open Sans", sans-serif;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
