#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  z-index: 1;
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
.main-chat {
  position: relative;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  color: white;
  background-color: #92a5b2;
  padding: 13px;
  border-radius: 16px;
  font-size: 14px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 18px;
  margin-right: 10px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__buble {
  background-color: white;
  padding: 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}
.message__author {
  display: block;
  margin-bottom: 5px;
}
.message__author,
.message__time {
  opacity: 0.8;
  font-size: 13px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__buble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-left: 5px;
  margin-right: 0px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}
.reply .reply__colunm:first-child {
  width: 10%;
}
.reply .reply__colunm:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 14px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  box-sizing: border-box;
}
.reply__colunm:last-child > i,
.reply__colunm:last-child button {
  position: absolute;
  top: 9px;
  right: 2px;
}
.reply__colunm:last-child > i {
  right: 35px;
  top: 15px;
}
.reply__colunm button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__colunm button:focus,
.reply__colunm button:active {
  outline: none;
}
.reply i {
  opacity: 0.5;
}
.reply__colunm button i {
  opacity: 1;
}
