#friends-display-link {
  text-align: center;
  width: 100%;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  font-size: 16pt;
  margin-bottom: 5px;
  margin-top: -15px;
}
#friends-display-link i {
  margin-top: 5px;
  color: rgb(0, 0, 0, 0.3);
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-top: 25px;
  padding-top: 15px;
  border-top: var(--main-border);
  margin-bottom: 30px;
}
.friends-screen {
  padding: var(--horizontal-space);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 132px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
