.user-component {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.user-component,
.user-component__column:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  border-radius: 30%;
  margin-right: 20px;
}
.user-component__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-component__title {
  font-weight: 600;
  font-size: 22px;
  color: var(--font-color);
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: var(--font-color);
}
.user-component__avatar-xl {
  height: 80px;
  width: 80px;
}
.user-component__avatar-sm {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  margin-right: 20px;
}
.user-component__title--not-bold {
  font-weight: 400;
  font-size: 22px;
}

.user-component__column:nth-child(2) {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
}
.user-component__subtitle i {
  color: tomato;
}
